{%extends 'admins/adminbase.html'%}

{%block contents%}
<div id="tooplate_main">
		<h2>Data Analysis</h2>
		<p><em>Before applying algorithms we assembled our data into structured format. We considered year, month, date, season, location, price, and category which is a derived attribute extracted from price as parameters. In our collected dataset data was not in a clean condition as dataset was mixed with unwanted data. We had to remove unuanted data from our dataset before algorithm implementation. For this purpose we used the popular ML tool panda to omit unwanted data for making desired data frame.</em></p>
		<div class="cleaner h40"></div>

        <h2>Data collection</h2>
		<p><em>Data collection is the process of gathering and measuring information on targeted variables in an established system, which then enables one to answer relevant questions and evaluate outcomes. Data collection is a component of research in all fields of study including physical and social sciences, humanities, and business. While methods vary by discipline, the emphasis on ensuring accurate and honest collection remains the same. The goal for all data collection is to capture quality evidence that allows analysis to lead to the formulation of convincing and credible answers to the questions that have been posed.</em></p>
		<div class="cleaner h40"></div>

        <h2>Algorithm Implementations</h2>
		<p><em>At first we classified the onion price into 3 classes and then applied supervised learning algorithm techniques more specificly classification algorithms. Completing the data analysis part now we have the prepared dataset for algorithm implementation. In this portion we applied every algorithm step by step and observed the result of these algorithms. Then we calculated the accuracy rate of these algorithms. We used different machine learning algorithms for prediciton of onion price. These algorithms are KNN, Naïve Bayes, Decision tree, SVM, and Neural Network. </em></p>
		<div class="cleaner h40"></div>


        <h2>Evaluation</h2>
		<p><em>At the beginning of our work we prepared a dataset then we implemented five different ML algorithms. Every algorithms genereated forcasting results which were nearly expected. By surpassing this process on the experimental result section we will work on the result for further observation.</em></p>
		<div class="cleaner h40"></div>


        <div class="col_w550 float_l">


        </div>



        <div class="cleaner"></div>
    </div>
{%endblock%}