{%extends 'base.html'%}

{%block contents%}
<div id="tooplate_main">
		<h2>User Registrations Form</h2>
		<p>
        <em>
             <form action="{%url 'UserRegisterActions'%}" method="POST"  style="width:100%">

                    {% csrf_token %}
                    <table>
                        <tr><td></td>
                            <td>User Name</td>
                            <td>{{form.name}}</td>
                        </tr>
                        <tr><td></td>
                            <td>Login ID</td>
                            <td>{{form.loginid}}</td>
                        </tr>
                        <tr><td></td>
                            <td>Password</td>
                            <td>{{form.password}}</td>
                        </tr>
                        <tr><td></td>
                            <td>Mobile</td>
                            <td>{{form.mobile}}</td>
                        </tr>
                        <tr><td></td>
                            <td>email</td>
                            <td>{{form.email}}</td>
                        </tr>
                        <tr><td></td>
                            <td>Locality</td>
                            <td>{{form.locality}}</td>
                        </tr>
                        <tr><td></td>
                            <td>Address</td>
                            <td>{{form.address}}</td>
                        </tr>
                        <tr><td></td>
                            <td>City</td>
                            <td>{{form.city}}</td>
                        </tr>
                        <tr><td></td>
                            <td>State</td>
                            <td>{{form.state}}</td>
                        </tr>
                        <tr><td></td>
                            <td></td>
                            <td>{{form.status}}</td>
                        </tr>
 <tr><td></td>
                            <td></td>
     <td><button type="submit" value="Register" class="primary-btn text-uppercase">Register</button></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group mt-3">
                                <span  >&nbsp;</span>
                            </div>
                            </td>
                        </tr>

                        {% if messages %}
                        {% for message in messages %}
                        <font color='WHITE'> {{ message }}</font>
                        {% endfor %}
                        {% endif %}

                    </table>

                </form>

        </em>
        </p>
		<div class="cleaner h40"></div>



        <div class="col_w550 float_l">


        </div>



        <div class="cleaner"></div>
    </div>
{%endblock%}